.pioenvs
.piolibdeps
fp-lib-table
*.DS_Store
hardware/*.pdf
hardware/*.svg
hardware/*.bak
hardware/*-bak
hardware/*-cache*
hardware/*_saved*
hardware/*_autosave*
firmware/maxwell/src/private.h
*.gbr
*.gbj
*.gbrjob
*.zip
*.drl
_saved_*
*.gcode
.vscode
software/bin/*
software/lib/*
software/src/*
software/include/*
software/logs/*
